<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://localhost/ProyectoDSW/public/img/system/antihacking.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active: antihacking</title>
    <link rel="stylesheet" href="http://localhost/ProyectoDSW/public/css/mensajeSistema.css">
</head>
<body>
    <div class="container-mensaje-sistema">
        <div class="modal">
            <h1>Mensaje del Sistema</h1>
            <img src="http://localhost/ProyectoDSW/public/img/system/hackeo.jpg">
            <p class="texto">¡ERROR!</p>
            <p> Se detecto que usted esta tratando de vulnerar</p>
            <p> la seguridad del sistema BurgerFISI...</p>
        </div> 
    </div>
</body>
</html>